@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');
body{
   font-family: Heebo;
}
.container{
   max-width: 856px;
   margin: 0 auto;
}
header{
   width: 1152px;
   margin: 0 auto;
}
.menu{
   margin-bottom: 75px;
   &__ul{
      display: flex;
      justify-content: end;
      align-items: center;
      height: 86px;
   }
   &__link{
      margin-right: 35px;
      &:last-child{
         margin-right: 60px;
      }
      font-size: 20px;
      font-weight: 500;
   }
}
a{
   color: #000;
}
.red{
   color: #FF6464;
}
p{
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #21243D;
}
.works{
   margin-bottom: 40px;
}
h1{
   font-weight: 700;
font-size: 44px;
line-height: 60px;
color: #21243D;
}
h3{
   font-weight: 700;
font-size: 30px;
line-height: 44px;
color: #21243D;
}
.infotable__img{
   height: 180px;
   display: inline-block;
}
.infotable{
   height: 210px;
   margin-bottom: 30px;
   margin-left: 20px;
   width: 580px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   display: inline-block;
}
.block{
   border-bottom: 3px solid #EDF7FA;
   height: 211px;
   margin-bottom: 31px;
}
.date{
   display: inline-block;
   border-radius: 16px;
   background-color: #142850;
   color: #fff;
   font-size: 18px;
   font-weight: 700px;
   width: 60px;
   text-align: center;
}
.word{
   margin-left: 30px;
   font-weight: 400;
font-size: 20px;
line-height: 29px;
color: #8695A4;
}
footer{
   margin-top: 21px;
   height: 182px;
}
.icons__box{
   width: 1152px;
   margin: 0 auto;
   position: relative;
}
.icons{
   display: flex;
   justify-content: space-between;
   position: relative;
   width: 233px;
   height: 8px;
   left: 458px;
   top: 66px;   
}
.icons__text{
   font-weight: 400;
font-size: 14px;
line-height: 21px;
text-align: center;
color: #21243D;
position: relative;
width: 221px;
height: 8px;
left: 464px;
top: 121px;   
}